:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-secondary: hsl(321, 100%, 78%);
  --color-neutral: hsl(207, 100%, 98%);
  --color-heading: hsl(192, 100%, 9%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
}
